.shop {
    border: 1px dotted black;
    padding: 0.5em;
   
}

.list {
    display: flex;
}

.list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.shop {
    flex-basis: 30%;
}

.pageHeader {
    text-align: center;
}